.topnav-content {
  .panel-count {
    margin-bottom: 10px;
    margin-top: 10px;
    .count-number {
      font-size: 30px;
      color: #ed4014;
    }
  }
  .panel-page {
    margin-top: 10px;
  }
  .panel-nav {
    margin-bottom: 10px;
    a {
      margin-right: 10px;
    }
  }
}
